body {
    margin: 0;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background: url(images/pattern-background-mobile.svg) no-repeat;
    background-size: 100vw auto;
}

@media (orientation: portrait) {
    body {
        background-size: auto 100vh;
    }
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    text-align: center;
    padding: 1px;
}

.img-container img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

#banner-body {
    width: 75%;
    min-width: 320px;
    margin: 0 auto;
}

.light-font-color {
    color: hsl(224, 23%, 55%);
}

.block {
    display: block;
}


.bold {
    font-weight: bold;
}

.annual-plan {
    margin-left: 10px;
}

.allign-right {
    text-align: right;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half-container {
    width: 50%;
}

.call-to-action {
    padding: 10px 0 30px;
}

.change:hover {
    color: hsl(224, 23%, 55%);
}


.btn {
    display: block;
    border: 1px solid hsl(223, 47%, 23%);
    width: 100%;
    min-width: 300px;
    background-color: hsl(245, 75%, 52%);
    color:hsl(225, 100%, 98%);
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 0.8em;
    text-decoration: none;  
    box-shadow: 5px 5px 30px hsl(225deg 45% 61%);
    margin: 10px 0;
}

.btn:hover {
    background-color: hsl(245, 82%, 59%);
    color: hsl(0, 0%, 99%)
}

.cancel {
    text-decoration: none;
    margin: 30px 1px; 
}

.cancel a:hover {
    color: hsl(224, 27%, 70%)
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution a:hover {
    color: hsl(228, 51%, 65%);
}